
.noOption {
    position: absolute;
}

.modal-xl .modal-lg {
    width: 900px;
}

.cart {
    overflow: hidden;
}

.modall {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 1000;
  }