
<div [ngClass]="cartModalService.getDisplay() ? 'modall' : 'hide'">
  <app-cart-modal></app-cart-modal>
</div>

<div [ngClass]="noticeModalService.getDisplay() ? 'modall' : 'hide'">
  <app-notice-modal></app-notice-modal>
</div>

<router-outlet></router-outlet>