<div class="back">
    <div class="titlebox">
        <span class="title">{{ language()['ADMIN']['MODULE']['ADD_DISCOUNTS']['TITLE'] }}</span>
    </div>
    <div class="container">
        <form [formGroup]="getFormGroup()" class="form">
            <input type="date" class="deadline" placeholder="{{ language()['ADMIN']['MODULE']['ADD_DISCOUNTS']['INPUT']['DEADLINE'] }}" formControlName="deadline">
            <input type="text" class="porcentage" placeholder="{{ language()['ADMIN']['MODULE']['ADD_DISCOUNTS']['INPUT']['PORCENTAGE'] }}" formControlName="porcentage">
            <select formControlName="product" class="product">
                <option [value]="" selected disabled>{{ language()['ADMIN']['MODULE']['ADD_DISCOUNTS']['INPUT']['PRODUCTS'] }}</option>
                <option *ngFor="let product of getProducts()" [value]="product.getId()">
                    {{ product.getId() }}. {{ product.getName()}}
                </option>
            </select> 
            <button type="button" class="add" (click)="onSubmit()" [disabled]="!getFormGroup().valid">{{ language()['ADMIN']['MODULE']['ADD_DISCOUNTS']['ADD_DISCOUNT'] }}</button>
        </form>
    </div>
</div>