<div class="page">
    <div class="body">
        <div class="logo">
            <img src="assets/hsicons/hslogo.png" class="image">
        </div>
        <div class="back">
            <div class="content">
                <div class="products">
                    <div class="product" *ngFor="let product of getProducts()">
                        <div [ngStyle]="{'background-color': product['color']}" class="color"></div>
                        <img src="{{ product['image'] }}" class="image">
                        <div class="info">
                            <div class="detail">
                                <div class="box">
                                    <span class="name">{{ product["name"] }}</span><br>
                                    <span class="price">${{ product["price"] }}</span><br>
                                    <span class="size">{{ product["size"] }}</span>
                                </div>
                            </div>
                            <div class="quantity">
                                <span class="value">{{ product["quantity"] }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="receipt">
                    <div [ngClass]="loaded ? 'values' : 'hide'">
                        <span class="original">{{ language()["CHECKOUT"]["VALUES"]["ORIGINAL"] }}: </span><span class="ovalue">${{ getOriginalPrice() }}</span>
                        <span [ngClass]=" getDiscount() > 0 ? 'discount' : 'hide'">{{ language()["CHECKOUT"]["VALUES"]["DISCOUNT"] }}: </span><span [ngClass]="getDiscount() > 0 ? 'dvalue' : 'hide'">${{ getDiscount() }}</span>
                        <span class="total">{{ language()["CHECKOUT"]["VALUES"]["TOTAL"] }}: </span>
                        <div class="tvalue">
                            <span class="value">${{ getAmount() }}</span>
                            <span class="currency"> {{ currencyService.getCurrencyName() }}</span>
                        </div>
                    </div>
                    <button (click)="openCheckout()" [disabled]="!loaded || active" class="pay">{{ language()["CHECKOUT"]["PAY"] }}</button>
                </div>
            </div>
            
        </div>
    </div>
    <div class="foot">
        <div class="noselect">
            <footer>
                <div class="footercontent">
                    <div class="info">
                        <div class="name">{{ language()["MAIN"]["FOOTER"]["COPYRIGHT"](2020) }}</div>
                        <div class="policy">
                            <button class="detail"><a href="/informative?site=guides">{{ language()["MAIN"]["FOOTER"]["GUIDES"] }}</a></button>
                            <button class="detail"><a href="/informative?site=termofuse">{{ language()["MAIN"]["FOOTER"]["TERMOFUSE"] }}</a></button>
                            <button class="detail"><a href="/informative?site=termofdiscount">{{ language()["MAIN"]["FOOTER"]["TERMOFSALE"] }}</a></button>
                            <button class="detail"><a href="/informative?site=privacypolicy">{{ language()["MAIN"]["FOOTER"]["PRIVACYPOLICY"] }}</a></button>
                        </div>
                    </div>
                </div> 
            </footer>
        </div>
    </div>
</div>
