
.page {
    width: 100%;
}

.page .body {
    position: relative;
    min-height: 900px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.page .foot {
    position: relative;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

.back {
    position: absolute;
    left: 10%;
    width: 100%;
}

.logo {
    position: absolute;
    width: 100%;
    height: 300px;
}

.logo .image {
    position: absolute;
    width: 300px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.content {
    position: absolute;
    width: 100%;
    top: 300px;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
}

.products {
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
    min-width: 400px;
    max-width: 700px;
    padding: 20px;
    height: 500px;
    border: 1px solid lightgray;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.products::-webkit-scrollbar {
    display: none;
}

.products .product {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 5px solid lightgray;
}

.products .product .color {
    position: absolute;
    width: 70px;
    height: 70px;
    right: 5%;
    transform: translate(0, -50%);
    top: 50%;
}

.products .product .image {
    position: absolute;
    height: 100%;
    left: 0;
    transform: translate(0, -50%);
    top: 50%;
}

.products .product .info {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 45%;
    left: 110px;
    font-size: 15px;
}

.products .product .info .detail {
    position: relative;
    text-align: center;
    transform: translate(0, -50%);
    top: 50%;
}

.products .product .info .detail .box {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    width: 100%;
}

.products .product .info .detail .box .name {
    position: relative;
    overflow: hidden;
}

.products .product .info .detail .box .price {
    position: relative;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    font-weight: 700;
}

.products .product .info .detail .box .size {
    position: relative;
    width: 100%;
    left: 0;
    overflow: hidden;
    font-style: italic;
}

.products .product .info .quantity {
    position: relative;
}

.products .product .info .quantity .value {
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    top: 50%;
    font-size: 25px;
    font-weight: bold;
}

.receipt {
    position: relative;
    height: 500px;
    min-width: 400px;
    max-width: 500px;
    margin-left: 20px;
    margin-right: 200px;
    border: 1px solid lightgray;
}

.receipt .values {
    position: absolute;
    width: 80%;
    height: 40%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    border: 1px solid lightgray;
}

.receipt .values .original {
    position: absolute;
    left: 30px;
    top: 40px;
}

.receipt .values .ovalue {
    position: absolute;
    right: 30px;
    top: 40px;
    font-weight: bold;
}

.receipt .values .discount {
    position: absolute;
    left: 30px;
    top: 70px;
    color: black;
}

.receipt .values .dvalue {
    position: absolute;
    right: 30px;
    top: 70px;
    color: rgba($color: black, $alpha: 0.7);
    font-weight: bold;
    -webkit-text-decoration-line: line-through; /* Safari */
    text-decoration-line: line-through; 
    font-size: 18px;
}

.receipt .values .total {
    position: absolute;
    left: 30px;
    top: 140px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.receipt .values .tvalue {
    position: absolute;
    right: 30px;
    top: 140px;
    font-weight: bold;
    text-align: right;
}

.receipt .values .tvalue .value {
    position: relative;
    color: red;
    font-size: 20px;
}

.receipt .values .tvalue .currency {
    position: relative;
    font-size: 18px;
}

.receipt .pay {
    position: absolute;
    width: 80%;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 30px;
    height: 50px;
    background-color: rgba($color: #000000, $alpha: 1.0);
    color: white;
    border: none;
}

.receipt .pay:hover {
    background-color: rgba($color: lightgray, $alpha: 1.0);
    color: rgba($color: black, $alpha: 0.8);
}

.receipt .pay:active {
    background-color: rgba($color: black, $alpha: 0.7);
    color: white;
}

.receipt .pay:disabled {
    background-color: rgba($color: gray, $alpha: 0.8);
    color: lightgray;
}

footer {
    position: relative;
    width: 100%;
    height: 100px;
    bottom: 0;
    z-index: 2;
}

footer .info {
    position: relative;
    width: 100%;
    height: 80px;
}

footer .info .name {
    font-family: SegoeUI;
    font-size: x-small;
    color: black;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: 60%;
}

footer .info .policy {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    top: 50%;
    left: 75%;
}

footer .info .policy a {
    color: black;
    text-decoration: none;
}

footer .info .detail {
    font-family: SegoeUI;
    font-size: x-small;
    position: relative;
    width: 80px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: black;
    opacity: 60%;
    outline: none;
    overflow-y: hidden;
}

footer .info .detail:hover {
    opacity: 80%;
}

footer .info .detail:active {
    opacity: 30%;
}