
<div class="products">
    <div *ngFor="let product of getProductKeys()" [ngClass]="getProductsSaved().get(product).getActive() ? 'show' : 'hide'">
        <div *ngIf="whichPlace() == 'main'">
            <app-product-unit 
                [place]="whichPlace()" 
                [id]="getProductsSaved().get(product).getId()" 
                [new]="getProductsSaved().get(product).isNew()" 
                [name]="getProductsSaved().get(product).getName()" 
                [price]="getProductsSaved().get(product).getPrice().toString()" 
                [discounted]="getDiscountsSaved().get(product)['discounted']"  
                [currency]="getCurrency()" 
                [discount]="getDiscountsSaved().get(product)['discount']" 
                [image]="getMediaSaved().get(product)['image']" 
                [load]="getMediaSaved().get(product)['load']" 
                [images]="getMediaArraySaved().get(product)"
            ></app-product-unit>
        </div>
        <div *ngIf="whichPlace() == 'cart'">
            <app-product-unit-cart 
                [place]="whichPlace()" 
                [id]="getProductsSaved().get(product).getId()" 
                [new]="getProductsSaved().get(product).isNew()" 
                [name]="getProductsSaved().get(product).getName()" 
                [price]="getProductsSaved().get(product).getPrice().toString()" 
                [discounted]="getDiscountsSaved().get(product)['discounted']"  
                [currency]="getCurrency()" 
                [discount]="getDiscountsSaved().get(product)['discount']" 
                [image]="getMediaSaved().get(product)['image']" 
                [load]="getMediaSaved().get(product)['load']" 
                [images]="getMediaArraySaved().get(product)"
            ></app-product-unit-cart>
        </div>
    </div>
</div>