
.products {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    left: 50%;
    transform: translate(-50%, -0%);
}

.products {
    position: relative;
}

@media only screen and (min-width: 700px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 900px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1100px) {
    .products {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1300px) {
    .products {
        grid-template-columns: repeat(5, 1fr);
    }
}