
<div class="back">
    <div class="subcategory">
        <div class="organize">
            <button class="order"></button>
            <button class="filter"></button>
        </div>
        <div class="title">
            <span>{{ categoryName }}</span>
        </div>
        <div class="underline"></div>
    </div>
    <app-product-display #productDisplay [place]="'main'" [productsFunc]="deliverProducts.bind(this)"></app-product-display>
</div>