
<div class="noselect">
    <div class="back">
        <div class="titlebox">
            <span class="title">{{ language()['ADMIN']['MODULE']['CATEGORIES']['TITLE'] }}</span>
        </div>
        <div class="container">
            <div class="categoryconainer">
                <div *ngFor="let category of getCategories()" class="category" [ngStyle]="{'background-color': 'black'}">
                    <div class="categorybox">
                        <p class="nameid">{{ category.getId() }}. {{ category.getName()}}</p>
                        <p class="price"></p>
                        <p class="description">{{ category.getDescription() }}</p>
                    </div>
                    <div class="delete" (click)="deleteCategory(category.getId())"></div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <button class="btn" (click)="backPage()" [disabled]="!backValid()">{{ language()['ADMIN']['MODULE']['BACK'] }}</button>
            <button class="btn" (click)="nextPage()" [disabled]="!nextValid()">{{ language()['ADMIN']['MODULE']['NEXT'] }}</button>
        </div>
    </div>
</div>