
// .back {
//     position: absolute;
//     background-color: transparent;
//     width: 80%;
//     height: 80%;
//     transform: translate(-50%, -50%);
//     left: 50%;
//     top: 55%;
//     border: 1px solid lightgray;
//     overflow: hidden;
// }

.back .titlebox {
    position: absolute;
    width: 80%;
    transform: translate(-50%, 0);
    left: 50%;
    height: 40px;
    top: 0;
    background-color: lightgray;
}

.back .titlebox .title {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: rgba($color: #000000, $alpha: 0.5)
}

.back .pagination {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.back .pagination .btn {
    position: relative;
    background-color: black;
    color: white;
    margin-left: 5px;
    border: none;
}

.back .pagination .btn:hover {
    background-color: white;
    color: black;
}

.back .pagination .btn:active {
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
}

.back .pagination .btn:disabled {
    background-color: rgba($color: gray, $alpha: 0.8);
    color: lightgray;
}

.container {
    width: 100%;
    margin-top: 40px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.categoryconainer {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    height: 67%;
    left: 55px;
    overflow: scroll;
}

.categoryconainer .category {
    position: relative;
    font-size: small;
    font-weight: bold;
    color: beige;
    width: 150px;
    height: 170px;
    border: 1px solid gray;
    margin: 5px;
}

.categoryconainer .category .enter {
    position: absolute;
    background-color: rgba($color: #4f77e5, $alpha: 0);
    width: 100%;
    height: 50%;
    top: 0;
}

.categoryconainer .category .enter:hover {
    background-color: rgba($color: #4f77e5, $alpha: 0.5);
}

.categoryconainer .category .delete {
    position: absolute;
    background-color: rgba($color: #4f77e5, $alpha: 0);
    width: 100%;
    height: 50%;
    bottom: 0;
}

.categoryconainer .category .delete:hover {
    background-color: rgba($color: red, $alpha: 0.5);
}

.categoryconainer .category .delete:active {
    background-color: rgba($color: beige, $alpha: 0.7);
}

.categoryconainer .category .categorybox {
    width: 90%;
    overflow-wrap: break-word;
    overflow: hidden;
    transform: translate(-50%, 0);
    margin-left: 50%;
    margin-top: 14px;
}

.categoryconainer .category .categorybox .nameid {
    overflow-wrap: break-word;
    text-align: center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 2px;
    min-height: 20px;
    max-height: 20px;
}

.categoryconainer .category .categorybox .price {
    overflow-wrap: break-word;
    text-align: center;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 6px;
}

.categoryconainer .category .categorybox .description {
    overflow-wrap: break-word;
    overflow-y: hidden;
    min-height: 70px;
    max-height: 70px;
    text-align: center;
    margin: 0;
}

.categoryconainer .category .categorybox .created {
    overflow-wrap: break-word;
    text-align: center;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

@media only screen and (min-width: 750px) {
    .categoryconainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 900px) {
    .categoryconainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1050px) {
    .categoryconainer {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (min-width: 1300px) {
    .categoryconainer {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (min-width: 1450px) {
    .categoryconainer {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media only screen and (min-width: 1750px) {
    .categoryconainer {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media only screen and (min-width: 1950px) {
    .categoryconainer {
        grid-template-columns: repeat(9, 1fr);
    }
}