
<div class="noselect">
    <div class="back">
        <div class="titlebox">
            <span class="title">{{ language()['ADMIN']['MODULE']['DISCOUNTS']['TITLE'] }}</span>
        </div>
        <div class="pagination">
            <button class="btn" (click)="backPage()" [disabled]="!backValid()">{{ language()['ADMIN']['MODULE']['BACK'] }}</button>
            <button class="btn" (click)="nextPage()" [disabled]="!nextValid()">{{ language()['ADMIN']['MODULE']['NEXT'] }}</button>
        </div>
        <div class="container">
            <div class="discountconainer">
                <div *ngFor="let discount of getDiscounts()" class="discount" [ngStyle]="{'background-color': discount['discount'].getState() ? 'black': 'blue'}">
                    <div class="discountbox">
                        <p class="nameid">{{ discount["product"].getId() }}. {{ discount["product"].getName() }}</p>
                        <p class="porcentage">{{ discount["discount"].getPorgentage()}}%</p>
                        <p class="deadline">{{ discount["discount"].getDeadline().toJSON().slice(0,10) }}</p>
                    </div>
                    <div class="updatestate" (click)="updateState(discount['discount'].getId())"></div>
                    <div class="delete" (click)="deleteDiscount(discount['discount'].getId())"></div>
                </div>
            </div>
        </div>
    </div>
</div>