
.box {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.logobox {
    position: relative;
    width: 100%;
    height: 194.61px;
}

.logobox .logo {
    position: absolute;
    width: 250px;
    height: 194.61px;
    left: 50%;
    transform: translate(-50%);
}

.formbox {
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

.formbox input {
    width: 250px;
    margin: 5px;
}

.formbox .check {
    position: relative;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.formbox .check .terms {
    color: gray;
}

.formbox .check .terms:hover {
    color: #E0345D;
    text-decoration: none;
}

.formbox .check input {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: green($color: #000000);
    left: -10px;
}

.formbox .check label {
    position: absolute;
    left: 45px;
    font-size: 15px;
    color: gray;
}

.formbox .signup {
    border: none;
    background-color: rgba($color: #000000, $alpha: 0.9);
    outline: none;
    height: 50px;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
}

.formbox .signup:hover {
    background-color: rgba($color: #E0345D, $alpha: 0.8);
}

.formbox .signup:active {
    background-color: rgba($color: #E0345D, $alpha: 1.0);
}

.formbox .signup:disabled {
    background-color: rgba($color: gray, $alpha: 0.7);
    color: gray;
}

footer {
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 2;
    bottom: 0;
}

footer .info {
    position: relative;
    width: 100%;
    height: 80px;
}

footer .info .name {
    font-family: SegoeUI;
    font-size: x-small;
    color: black;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: 60%;
}

footer .info .policy {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    top: 50%;
    left: 75%;
}

footer .info .detail {
    font-family: SegoeUI;
    font-size: x-small;
    position: relative;
    width: 80px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: black;
    opacity: 60%;
    outline: none;
    overflow-y: hidden;
}

footer .info .detail:hover {
    opacity: 80%;
}

footer .info .detail:active {
    opacity: 30%;
}