<div class="box">
    <div class="logobox">
        <img src="assets/hsicons/hs-logo-red.png" class="logo">
    </div>
    <form [formGroup]="getFormGroup()" (ngSubmit)="create()" class="formbox">
        <input type="email" placeholder="{{ language()['REGISTER']['INPUT']['EMAIL'] }}" formControlName="username">
        <input type="password" placeholder="{{ language()['REGISTER']['INPUT']['PASSWORD'] }}" formControlName="password">
        <input type="password" placeholder="{{ language()['REGISTER']['INPUT']['REPEAT_PASSWORD'] }}" formControlName="repeatPassword">
        <div class="check">
            <input type="checkbox" formControlName="agree"><label><a href="/" class="terms">{{ language()["AUTHENTICATION"]["TERMS"] }}</a></label>
        </div>
        <button type="submit" [disabled]="!getFormGroup().valid" class="signup">{{ language()["REGISTER"]["REGISTER"] }}</button>
    </form>
</div>
<footer>
    <div class="footercontent">
        <div class="info">
            <div class="name">{{ language()["MAIN"]["FOOTER"]["COPYRIGHT"](2020) }}</div>
            <div class="policy">
                <button class="detail">{{ language()["MAIN"]["FOOTER"]["GUIDES"] }}</button>
                <button class="detail">{{ language()["MAIN"]["FOOTER"]["TERMOFUSE"] }}</button>
                <button class="detail">{{ language()["MAIN"]["FOOTER"]["TERMOFSALE"] }}</button>
                <button class="detail">{{ language()["MAIN"]["FOOTER"]["PRIVACYPOLICY"] }}</button>
            </div>
        </div>
    </div> 
</footer>