<div class="back">
    <div class="titlebox">
        <span class="title">{{ language()['ADMIN']['MODULE']['ADD_PRODUCTS']['TITLE'] }}</span>
    </div>
    <div class="container">
        <form [formGroup]="getFormGroup()" class="form">
            <input type="text" class="name" placeholder="{{ language()['ADMIN']['MODULE']['ADD_PRODUCTS']['INPUT']['NAME'] }}" formControlName="name">
            <input type="text" class="price" placeholder="{{ language()['ADMIN']['MODULE']['ADD_PRODUCTS']['INPUT']['PRICE'] }}" formControlName="price">
            <textarea cols="30" class="description" rows="10" placeholder="{{ language()['ADMIN']['MODULE']['ADD_PRODUCTS']['INPUT']['DESCRIPTION'] }}" formControlName="description"></textarea>
            <select formControlName="category" class="category">
                <option [value]="" selected disabled>{{ language()['ADMIN']['MODULE']['ADD_PRODUCTS']['INPUT']['CATEGORY'] }}</option>
                <option *ngFor="let category of getCategories()" [value]="category.getId()">
                    {{ category.getId() }}. {{ category.getName()}}
                </option>
            </select> 
            <button type="button" class="add" (click)="onSubmit()" [disabled]="!getFormGroup().valid">{{ language()['ADMIN']['MODULE']['ADD_PRODUCTS']['ADD_PRODUCT'] }}</button>
        </form>
    </div>
</div>