
// .back {
//     position: absolute;
//     background-color: transparent;
//     width: 80%;
//     height: 80%;
//     transform: translate(-50%, -50%);
//     left: 50%;
//     top: 50%;
//     border: 1px solid lightgray;
//     overflow: hidden;
// }

.back .titlebox {
    position: absolute;
    width: 80%;
    transform: translate(-50%, 0);
    left: 50%;
    height: 40px;
    top: 0;
    background-color: lightgray;
}

.back .titlebox .title {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: rgba($color: #000000, $alpha: 0.5)
}

.back .container {
    position: absolute;
    width: 100%;
    height: 80%;
    margin-top: 80px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.back .container .form {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.back .container .form .name {
    position: absolute;
    width: 40%;
    transform: translate(-50%, 0);
    left: 25%;
    top: 20px;
    text-align: center;
}

.back .container .form .price {
    position: absolute;
    width: 40%;
    transform: translate(-50%, 0);
    left: 25%;
    top: 60px;
    text-align: center;
}

.back .container .form .description {
    position: absolute;
    right: 20px;
    width: 50%;
}

.back .container .form .category {
    position: absolute;
    width: 40%;
    transform: translate(-50%, 0);
    left: 25%;
    top: 120px;
    text-align: center;
}

.back .container .form .add {
    position: absolute;
    width: 40%;
    transform: translate(-50%, 0);
    left: 25%;
    top: 180px;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    border-radius: 20px;
}

.back .container .form .add:hover {
    background-color: lightgray;
    color: black;
}

.back .container .form .add:active {
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
}

.back .container .form .add:disabled {
    background-color: rgba($color: gray, $alpha: 0.8);
    color: lightgray;
}