
.box {
    position: absolute;
    width: 800px;
    height: 450px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.box .image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.box .head {
    position: absolute;
    width: 100%;
    height: 13%;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 1.0);
    z-index: 5;
}

.box .head .cross {
    position: absolute;
    font-size: x-large;
    background-color: transparent;
    color: white;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}

.box .head .cross:hover {
    color: gray;
}

.box .head .cross:active {
    color: black;
}

.box .head .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    color: white;
}

.box .content {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba($color: white, $alpha: 0.8);
    z-index: 4;
}

.box .content .cart {
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: white, $alpha: 1.0);
}

.box .foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 18%;
    background-color: rgba($color: black, $alpha: 1.0);
    z-index: 5;
}

.box .foot .price {
    position: absolute;
    width: 300px;
    height: 25px;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-family: 'akkar';
    font-size: medium;
    color: black;
    background-color: rgba($color: white, $alpha: 1.0);
}

.box .foot .purchase{
    width: 150px;
    height: 50%;
    font-size: small;
    color: black;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translate(0, -50%);
    background-color: rgba($color: white, $alpha: 1.0);
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
}

.box .foot .purchase:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.box .foot .purchase:active {
    color: black;
    background-color: rgba($color: white, $alpha: 0.4);
}

.box .foot .purchase:disabled {
    border: none;
    color: lightgray;
    background-color: rgba($color: gray, $alpha: 0.8);
}