<div class="box">
    <img src="{{ language()['APP']['IMAGE'] }}" class="image">
    <div class="head">
        <div class="noselect">
            <div class="cross" (click)="modalService.offDisplay()">x</div>
        </div>
        <div class="title">{{ language()["APP"]["POPUP"]["BAG"]["TITLE"] }}</div>
    </div>
    <div class="content">
        <div class="cart">
            <app-product-display-cart #productDisplay [place]="'cart'" [productsFunc]="deliverProducts.bind(this)"></app-product-display-cart>
        </div>
    </div>
    <div class="foot">
        <div [ngClass]=" getCurrentQuantity() > 0 ? 'price' : 'hide'">{{ language()["APP"]["POPUP"]["BAG"]["TOTAL"] }}: {{ getCurrentPrice() }} {{ getCurrency() }}</div>
        <button class="purchase" (click)="checkout()" [disabled]="getCurrentQuantity() == 0">{{ language()["APP"]["POPUP"]["BAG"]["PURCHASE"] }}</button>
    </div>
</div>