
.products {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    left: 50%;
    height: 95%;
    transform: translate(-50%, -0%);
    background-color: transparent;
    overflow-y: scroll;
}

.products {
    position: relative;
}