
.info {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.logo {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 20px;
    width: 200px;
}

.info .number {
    text-align: center;
    font-size: 100px;
}

.info .msg {
    text-align: center;
    font-size: 40px;
}