
<div class="noselect">
    <div class="back">
        <div class="titlebox">
            <span class="title">{{ language()['ADMIN']['MODULE']['PRODUCTS']['TITLE'] }}</span>
        </div>
        <div class="pagination">
            <button class="btn" (click)="backPage()" [disabled]="!backValid()">{{ language()['ADMIN']['MODULE']['BACK'] }}</button>
            <button class="btn" (click)="nextPage()" [disabled]="!nextValid()">{{ language()['ADMIN']['MODULE']['NEXT'] }}</button>
        </div>
        <div class="container">
            <div class="productconainer">
                <div *ngFor="let product of getProducts()" class="product" [ngStyle]="{'background-color': product.getActive() ? 'black' : 'gray'}">
                    <div class="productbox">
                        <p class="nameid">{{ product.getId() }}. {{ product.getName()}}</p>
                        <p class="price">${{ product.getPrice() }}</p>
                        <p class="description">{{ product.getDescription() }}</p>
                        <p class="created">{{ product.getCreated().toJSON().slice(0,10) }}</p>
                    </div>
                    <div class="enter" (click)="detailProduct(product)"></div>
                    <div class="delete" (click)="deleteProduct(product.getId())"></div>
                </div>
            </div>
        </div>
    </div>
</div>