/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'aakar';
  font-style: normal;
  font-weight: normal;
  src: local('aakar'), url('src/assets/aakar-medium.ttf') format('ttf');
}

@font-face {
  font-family: 'SegoeUI';
  font-style: normal;
  font-weight: normal;
  src: local('SegoeUI'), url('src/assets/segoe/Segoe UI.woff') format('woff');
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-width:700px;
    overflow-x: hidden;
    scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.show {
  display: block;
}

.hide {
  display: none;
}

.loadingPoints {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: visible;
}

.loadingPoints div {
  position: absolute;
  width: 23.25%;
  height: 23.25%;
  background: #fff;
  animation: loadingPoints 1.2s linear infinite;
}

.loadingPoints div:nth-child(1) {
  top: 9.3%;
  left: 9.3%;
  animation-delay: 0s;
}

.loadingPoints div:nth-child(2) {
  top: 9.3%;
  left: 37.20%;
  animation-delay: -0.4s;
}

.loadingPoints div:nth-child(3) {
  top: 9.3%;
  left: 65.11%;
  animation-delay: -0.8s;
}

.loadingPoints div:nth-child(4) {
  top: 37.20%;
  left: 9.3%;
  animation-delay: -0.4s;
}

.loadingPoints div:nth-child(5) {
  top: 37.20%;
  left: 37.20%;
  animation-delay: -0.8s;
}

.loadingPoints div:nth-child(6) {
  top: 37.20%;
  left: 65.11%;
  animation-delay: -1.2s;
}

.loadingPoints div:nth-child(7) {
  top: 65.11%;
  left: 9.3%;
  animation-delay: -0.8s;
}

.loadingPoints div:nth-child(8) {
  top: 65.11%;
  left: 37.20%;
  animation-delay: -1.2s;
}

.loadingPoints div:nth-child(9) {
  top: 65.11%;
  left: 65.11%;
  animation-delay: -1.6s;
}

@keyframes loadingPoints {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

// Titles with filter and order buttons

.subcategory {
  position: relative;
  margin-top: 10px;
  height: 60px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.subcategory .underline {
  position: absolute;
  margin-top: 78px;
  width: 80%;
  left: 10%;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.subcategory .title {
  position: absolute;
  display: table;
  top: 10px;
  height: 40px;
  width: 180px;
  text-align: center;
}

.subcategory .title span {
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  font-weight: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba($color: #000000, $alpha: 0.7);
}



.subcategory .organize {
  position: absolute;
  top: 17px;
  right: 60px;
}

.subcategory .organize .order {
  position: absolute;
  background-image: url("src/assets/hsicons/flechasorden.png");
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  height: 26px;
  width: 27.26px;
  right: 20px;
  outline: none;
  opacity: 70%;
}

.subcategory .organize .filter {
  position: absolute;
  background-image: url("src/assets/hsicons/filter.png");
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  height: 26px;
  width: 32.69px;
  outline: none;
  opacity: 70%;
}

.subcategory .organize .order:hover {
  opacity: 100%;
}

.subcategory .organize .filter:hover {
  opacity: 100%;
}

.subcategory .organize .order:active {
  opacity: 50%;
}

.subcategory .organize .filter:active {
  opacity: 50%;
}