<div class="box" [ngStyle]="{'background-color': noticeService.getOptions()['design']['back'] ? 'white' : 'transparent'}">
    <!-- <img src="{{ language()['APP']['IMAGE'] }}" class="image"> -->
    <div class="head">
        <div class="noselect">
            <div [ngClass]="noticeService.getOptions()['design']['cross'] ? 'cross' : 'hide'" (click)="modalService.offDisplay()">x</div>
        </div>
        <!-- <div class="title">{{ language()["APP"]["POPUP"]["BAG"]["TITLE"] }}</div> -->
    </div>
    <div class="content">
        <div [ngClass]="noticeService.getOptions()['design']['msg'] ? 'msg' : 'hide'">
            <span class="message">{{ noticeService.getOptions()['content']['msg'] }}</span>
        </div>
        <div [ngClass]="noticeService.getOptions()['design']['load'] ? 'loadingBox' : 'hide'">
            <div [ngClass]="noticeService.getOptions()['design']['loading'] == 'black' ? 'black-spinner' : 'hide'"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div [ngClass]="noticeService.getOptions()['design']['loading'] == 'white' ? 'white-spinner' : 'hide'"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
    <div class="foot">
        <div [ngClass]="noticeService.getOptions()['actionable']['ok'] ? 'ok' : 'hide'">
            <button (click)="modalService.setDisplayResponse(true)" class="option">{{ language()["APP"]["POPUP"]["BUTTON"]["OK"] }}</button>
        </div>
        <div [ngClass]="noticeService.getOptions()['actionable']['okcancel'] ? 'okcancel' : 'hide'">
            <button (click)="modalService.setDisplayResponse(true)" class="option">{{ language()["APP"]["POPUP"]["BUTTON"]["OK"] }}</button>
            <button (click)="modalService.setDisplayResponse(false)" class="option">{{ language()["APP"]["POPUP"]["BUTTON"]["CANCEL"] }}</button>
        </div>
    </div>
</div>