
.box {
    position: absolute;
    width: 500px;
    height: 300px;
    border: none;
    border-radius: 5%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.box .head {
    position: absolute;
    width: 100%;
    height: 13%;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0);
    z-index: 5;
}

.box .head .cross {
    position: absolute;
    font-size: x-large;
    background-color: transparent;
    color: black;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}

.box .head .cross:hover {
    color: gray;
}

.box .head .cross:active {
    color: black;
}

.box .head .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    color: white;
}

.box .content {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba($color: white, $alpha: 0);
    z-index: 4;
}

.box .content .msg {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
}

.box .content .msg .message {
  position: absolute;
  min-width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba($color: #000000, $alpha: 0.7);
  font-weight: 500;
}

.box .content .loadingBox {
    position: absolute;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: transparent;
}

.box .foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  z-index: 5;
}

.box .foot .ok {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box .foot .ok .option {
  position: relative;
  margin-left: 5px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}

.box .foot .ok .option:hover {
  background-color: rgba(204, 204, 204, 1.0);
  color: black;
}

.box .foot .ok .option:active {
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.box .foot .okcancel {
  position: absolute;
  left: 70%;
  top: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
}

.box .foot .okcancel .option {
  position: relative;
  margin-left: 5px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}

.box .foot .okcancel .option:hover {
  background-color: rgba(204, 204, 204, 1.0);
  color: black;
}

.box .foot .okcancel .option:active {
  background-color: rgba($color: #000000, $alpha: 0.7);
}


.black-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(50%, 50%);
  }
  .black-spinner div {
    transform-origin: 0px 0px;
    animation: black-spinner 1.2s linear infinite;
  }
  .black-spinner div:after {
    content: "";
    display: block;
    position: absolute;
    left: 37px;
    width: 60px;
    height: 10px;
    border-radius: 20%;
    background: black;
  }
  .black-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .black-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .black-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .black-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .black-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .black-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .black-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .black-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .black-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .black-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .black-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .black-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes black-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

  .white-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(50%, 50%);
  }
  .white-spinner div {
    transform-origin: 0px 0px;
    animation: white-spinner 1.2s linear infinite;
  }
  .white-spinner div:after {
    content: "";
    display: block;
    position: absolute;
    left: 37px;
    width: 60px;
    height: 10px;
    border-radius: 20%;
    background: white;
  }
  .white-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .white-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .white-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .white-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .white-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .white-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .white-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .white-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .white-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .white-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .white-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .white-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes white-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  