<div class="noselect">
    <header>
        <div class="whiteboxLogo">
            <img src="assets/hsicons/hslogo.png" class="logo" (click)="routingService.routeTo('', null)">
        </div>
    </header>
</div>
<div class="mainbody">
    <div class="menu">
        <button class="btn" (click)="routingService.routeTo('administration/store/products', null)">{{ language()["ADMIN"]["ACTIONS"]["PRODUCTS"] }}</button>
        <button class="btn" (click)="routingService.routeTo('administration/store/categories', null)">{{ language()["ADMIN"]["ACTIONS"]["CATEGORIES"] }}</button>
        <button class="btn" (click)="routingService.routeTo('administration/store/discounts', null)">{{ language()["ADMIN"]["ACTIONS"]["DISCOUNT"] }}</button>
        <button class="btn" (click)="routingService.routeTo('administration/store/padding', null)">{{ language()["ADMIN"]["ACTIONS"]["ADD_PRODUCT"] }}</button>
        <button class="btn" (click)="routingService.routeTo('administration/store/cadding', null)">{{ language()["ADMIN"]["ACTIONS"]["ADD_CATEGORY"] }}</button>
        <button class="btn" (click)="routingService.routeTo('administration/store/dadding', null)">{{ language()["ADMIN"]["ACTIONS"]["ADD_DISCOUNT"] }}</button>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="noselect">
    <footer>
        <div class="info">
            <div class="name">{{ language()["MAIN"]["FOOTER"]["COPYRIGHT"](2020) }}</div>
            <div class="policy">
                <button class="detail"><a href="/informative?site=guides">{{ language()["MAIN"]["FOOTER"]["GUIDES"] }}</a></button>
                <button class="detail"><a href="/informative?site=termofuse">{{ language()["MAIN"]["FOOTER"]["TERMOFUSE"] }}</a></button>
                <button class="detail"><a href="/informative?site=termofdiscount">{{ language()["MAIN"]["FOOTER"]["TERMOFSALE"] }}</a></button>
                <button class="detail"><a href="/informative?site=privacypolicy">{{ language()["MAIN"]["FOOTER"]["PRIVACYPOLICY"] }}</a></button>
            </div>
        </div>
    </footer>
</div>