
@font-face {
    font-family: 'aakar';
    font-style: normal;
    font-weight: normal;
    src: local('aakar'), url('src/assets/aakar-medium.ttf') format('ttf');
}

@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: normal;
    src: local('SegoeUI'), url('src/assets/segoe/Segoe UI.woff') format('woff');
}

header {
    position: relative;
    height: 150px;
    width: 100%;
    z-index: 3;
}

button::-moz-focus-inner {
    border: 0;
}  

header .whiteboxLogo {
    position: absolute;
    background-color: rgba($color: black, $alpha: 1.0);
    width: 170px;
    height: 160px;
    transform: translate(-50%, 0);
    left: 50%;
    margin-top: 20px;
    overflow: hidden;
}

header .whiteboxLogo .logo {
    position: absolute;
    width: 170px;
    height: 170px;
    top: -5px;
}

.mainbody {
    position: relative;
    width: 90%;
    min-height: 720px;
    left: 5%;
    border-top: 0.5px solid rgba($color: #000000, $alpha: 0.1);
    margin-top: 60px;
    z-index: 1;
    margin-bottom: 50px;
}

.mainbody .menu {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    transform: translate(-50%, 0);
    left: 50%;
}

.mainbody .menu .btn {
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
    width: 120px;
    margin: 5px;
    margin-top: 10px;
    font-size: 15px;
    border: none;
    outline: none;
}

.mainbody .menu .btn:hover {
    background-color: lightgray;
    color: rgba($color: #000000, $alpha: 0.7);
}

.mainbody .menu .btn:active {
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: white;
}

.mainbody .content {
    position: absolute;
    background-color: transparent;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
    border: 1px solid lightgray;
    overflow: scroll;
}

footer {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 2;
}

footer .info {
    position: relative;
    width: 100%;
    height: 80px;
}

footer .info .name {
    font-family: SegoeUI;
    font-size: x-small;
    color: black;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: 60%;
}

footer .info .policy {
    position: absolute;
    width: 400px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%;
}

footer .info .policy a {
    color: black;
    text-decoration: none;
}

footer .info .detail {
    font-family: SegoeUI;
    font-size: x-small;
    position: relative;
    width: 80px;
    border: none;
    background-color: transparent;
    color: black;
    opacity: 60%;
    outline: none;
}

footer .info .detail:hover {
    opacity: 80%;
}

footer .info .detail:active {
    opacity: 30%;
}

@media only screen and (max-width: 700px) {
}