<div class="back">
    <div class="titlebox">
        <span class="title">{{ language()['ADMIN']['MODULE']['ADD_CATEGORIES']['TITLE'] }}</span>
    </div>
    <div class="container">
        <form [formGroup]="getFormGroup()" class="form">
            <input type="text" class="name" placeholder="{{ language()['ADMIN']['MODULE']['ADD_CATEGORIES']['INPUT']['NAME'] }}" formControlName="name">
            <textarea cols="30" class="description" rows="10" placeholder="{{ language()['ADMIN']['MODULE']['ADD_CATEGORIES']['INPUT']['DESCRIPTION'] }}" formControlName="description"></textarea>
            <button type="button" class="add" (click)="onSubmit()" [disabled]="!getFormGroup().valid">{{ language()['ADMIN']['MODULE']['ADD_CATEGORIES']['ADD_CATEGORY'] }}</button>
        </form>
    </div>
</div>