<div class="noselect">
    <header>
        <div class="whiteboxLogo">
            <img src="assets/hsicons/hslogo.png" class="logo" (click)="routingService.routeTo('', null)">
        </div>
        <div class="tools">
            <div class="user">
                <div [ngClass]="getLogged() ? 'platform' : 'hide'" style="grid-template-columns: repeat(2, 1fr)">
                    <button (click)="register()">{{ language()["MAIN"]["PLATFORM"]["REGISTER"] }}</button>
                    <button (click)="goLogin()">{{ language()["MAIN"]["PLATFORM"]["SIGNIN"] }}</button>
                </div>
                <div [ngClass]="getLogged() ? 'hide' : 'platform'" style="grid-template-columns: repeat(1, 1fr)">
                    <button (click)="logOut()">{{ language()["MAIN"]["PLATFORM"]["SIGNOUT"] }}</button>
                </div>
                <div class="cart" (click)="cartService.cartModal()"></div>
                <img src="{{ language()['IMAGE'] }}" class="language" (click)="toggleLanguage()">
            </div>
            <div [ngClass]="displayLanguage() ? 'languagelist' : 'hide'">
                <div *ngFor="let lang of languages()" class="languageoption" (click)="setLanguage(lang['KEY'])">
                    <img src="{{ lang['IMAGE'] }}" style="width: 100%; height: 100%;">
                </div>
            </div>
            <div class="navbar">
                <li *ngFor="let sub of getSubSections()">
                    <button class="subsection" (click)="routingService.routeTo(sub.path, {})">{{ language()["MAIN"]["HELPMENU"][sub.name] }}</button>
                </li>
            </div>
            <!-- <input type="text" placeholder="{{ language()['MAIN']['SEARCH'] }}"> -->
        </div>
        <div class="menu">
            <div class="menuitem" *ngFor="let section of getSections()">
                <span (click)="routingService.routeTo(section.path, {})" id="m" class="menubtn">{{ language()["MAIN"]["MENU"][section.name] }}</span>
                <div id="sm" class="submenu">
                    <div *ngFor="let sub of section.sub">
                        <button (click)="routingService.routeTo(sub.path, sub.params)" class="menusubbtn">{{ sub.name }}</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="mainbody">
    <router-outlet></router-outlet>
</div>
<div class="noselect">
    <footer>
        <div class="footercontent">
            <div class="social">
                <img src="assets/main/facebooklogo.png" class="detail" style="margin-left: 40%;">
                <img src="assets/main/twitterlogo.png" class="detail" style="margin-left: 46%;">
                <img src="assets/main/instagramlogo.png" class="detail" style="margin-left: 52%;">
                <img src="assets/main/youtubelogo.png" class="detail" style="margin-left: 58%;">
            </div>
            <div class="info">
                <div class="name">{{ language()["MAIN"]["FOOTER"]["COPYRIGHT"](2020) }}</div>
                <div class="policy">
                    <button class="detail"><a href="/informative?site=guides">{{ language()["MAIN"]["FOOTER"]["GUIDES"] }}</a></button>
                    <button class="detail"><a href="/informative?site=termofuse">{{ language()["MAIN"]["FOOTER"]["TERMOFUSE"] }}</a></button>
                    <button class="detail"><a href="/informative?site=termofdiscount">{{ language()["MAIN"]["FOOTER"]["TERMOFSALE"] }}</a></button>
                    <button class="detail"><a href="/informative?site=privacypolicy">{{ language()["MAIN"]["FOOTER"]["PRIVACYPOLICY"] }}</a></button>
                </div>
            </div>
        </div> 
    </footer>
</div>