
@font-face {
    font-family: 'aakar';
    font-style: normal;
    font-weight: normal;
    src: local('aakar'), url('src/assets/aakar-medium.ttf') format('ttf');
}

@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: normal;
    src: local('SegoeUI'), url('src/assets/segoe/Segoe UI.woff') format('woff');
}

header {
    position: relative;
    background-color: gray;
    background-image: url('src/assets/main/doodle.jpg');
    background-position: center;
    height: 150px;
    width: 100%;
    z-index: 3;
}



button::-moz-focus-inner {
    border: 0;
}  

header .whiteboxLogo {
    position: absolute;
    background-color: rgba($color: black, $alpha: 0.8);
    width: 90px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
}

header .whiteboxLogo .logo {
    position: absolute;
    width: 90px;
    height: 90px;
    top: -5px;
}

header .tools {
    position: absolute;
    width: 290px;
    height: 100%;
    right: 0;
    top: 15px;
}

header .tools .navbar {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba($color: #000000, $alpha: 0.8);
    height: 33px;
    right: 30px;
    top: 55px;
}

header .tools .navbar li {
    position: relative;
    display: inline;
    background-color: transparent;
    margin: 0px;
    top: -5px;
}

header .tools .navbar li .subsection {
    position: relative;
    font-size: small;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
    color: white;
    outline: none;
}

header .tools .navbar li .subsection:hover {
    text-shadow: 1px 1px 1px #4f77e5;
}

header .tools .navbar li .subsection:active {
    opacity: 50%;
    text-shadow: 0px 0px 0px;
}

header .tools input {
    position: absolute;
    font-size: small;
    border-radius: 13px;
    border-width: 0px;
    width: 80%;
    height: 17%;
    top: 61%;
    right: 10%;
    text-indent: 10px;
    opacity: 95%;
    outline: none;
}

header .tools .user {
    position: absolute;
    width: 310px;
    height: 35px;
    top: 15px;
    right: 30px;
    border-radius: 50px;
    background-color: rgba($color: black, $alpha: 0.8);
    background-blend-mode: saturation;
    overflow: hidden;
}

header .tools .user .cart {
    position: absolute;
    width: 30px;
    height: 30px;
    clip-path: circle();
    background-size: contain;
    right: 25px;
    top: 50%;
    background-image: url("src/assets/main/bag-white.png");
    transform: translate(0, -50%);
    outline: none;
}

header .tools .user .language {
    position: absolute;
    width: 40px;
    height: 40px;
    clip-path: circle();
    background-color: rgba($color: white, $alpha: 1.0);
    top: 50%;
    transform: translate(0, -50%);
}

header .tools .user .cart:hover {
    background-image: url("src/assets/main/bag-beige.png");
}

header .tools .user .cart:active {
    background-image: url("src/assets/main/bag-black.png");
}

header .tools .user .platform {
    position: absolute;
    display: inline-grid;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .tools .user .platform button {
    font-size: 15px;
    color: white;
    border: none;
    background-color: transparent;
}

header .tools .user .platform button:hover {
    text-shadow: 1px 1px 1px #4f77e5;
}

header .tools .user .platform button:active {
    border: none;
    outline: none;
}

header .tools .languagelist {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgba($color: #000000, $alpha: 0.8);
    top: 60px;
    width: 70px;
    right: 295px;
    z-index: 100;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 20%;
}

header .tools .languagelist .languageoption {
    position: relative;
    background-color: white;
    width: 35px;
    height: 35px;
    clip-path: circle();
    left: 50%;
    margin-top: 5px;
    transform: translate(-50%, 0);
}

header .menu {
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    height: 45px;
    top: 135px;
    background-color: white;
    left: 50%;
    border-right: 20px solid white;
    transform: translate(-50%);
}

header .menu .menuitem {
    font-size: 15px;
    position: relative;
    width: auto;
    margin: 5px;
    text-align: center;
    background-color: transparent;
}

header .menu .menubtn {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    top: 5px;
    border: none;
    color: black;
    outline: none;
    background-color: transparent;
}

header .menu .menubtn:hover {
    border-bottom: 1.5px solid black;
}

header .menu .menubtn:active {
    color: gray;
    opacity: 50%;
    border: none;
}

header .menu .menuitem .submenu {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    display: none;
    background-color: transparent;
    transform: translate(-50%, 0%);
    left: 50%;
    border-top: 10px solid transparent;
}

header .menu .menuitem .submenu .menusubbtn {
    position: relative;
    background-color: rgba($color: black, $alpha: 0.9);
    padding: 8px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 0.1px solid rgba($color: #000000, $alpha: 0.05);
    text-align: center;
    font-size: smaller;
    color: white;
}

header .menu .menuitem .submenu .menusubbtn:hover {
    color: beige;
}

header .menu .menuitem .submenu .menusubbtn:active {
    color: black;
}

header .menu .menuitem:hover .submenu {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    top: 30px;
}


.mainbody {
    position: relative;
    width: 90%;
    min-height: 600px;
    left: 5%;
    border-top: 0.5px solid rgba($color: #000000, $alpha: 0.1);
    margin-top: 40px;
    z-index: 1;
    margin-bottom: 50px;
}

footer .social .barup {
    position: absolute;
    background-color: black;
    width: 60%;
    height: 1px;
    left: 20%;
    opacity: 40%;

}

footer .social {
    position: relative;
    height: 50px;
    background-color: white;
    overflow: hidden;
    border: none;
}

footer .social .detail {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    height: 20px;
    width: 20px;
    margin-left: 100%;
    opacity: 70%;
}

footer .social .detail:hover {
    opacity: 90%;
}

footer .social .detail:active {
    opacity: 10%;
}


footer {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 2;
}

footer .info {
    position: relative;
    width: 100%;
    height: 80px;
}

footer .info .name {
    font-family: SegoeUI;
    font-size: x-small;
    color: black;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: 60%;
}

footer .info .policy {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    top: 50%;
    left: 75%;
}

footer .info .policy a {
    color: black;
    text-decoration: none;
}

footer .info .detail {
    font-family: SegoeUI;
    font-size: x-small;
    position: relative;
    width: 80px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: black;
    opacity: 60%;
    outline: none;
    overflow-y: hidden;
}

footer .info .detail:hover {
    opacity: 80%;
}

footer .info .detail:active {
    opacity: 30%;
}

@media only screen and (max-width: 700px) {
}