<div class="box">
    <div class="logobox">
        <img src="assets/hsicons/hs-logo-blue.png" class="logo">
    </div>
    <form [formGroup]="getFormGroup()" (ngSubmit)="login()" class="formbox">
        <input type="email" placeholder="{{ language()['AUTHENTICATION']['INPUT']['EMAIL'] }}" formControlName="username">
        <input type="password" placeholder="{{ language()['AUTHENTICATION']['INPUT']['PASSWORD'] }}" formControlName="password">
        <button type="submit" [disabled]="!getFormGroup().valid" class="login">{{ language()["AUTHENTICATION"]["LOGIN"] }}</button>
    </form>
</div>
<footer>
    <div class="footercontent">
        <div class="info">
            <div class="name">{{ language()["MAIN"]["FOOTER"]["COPYRIGHT"](2020) }}</div>
            <div class="policy">
                <button class="detail">{{ language()["MAIN"]["FOOTER"]["GUIDES"] }}</button>
                <button class="detail">{{ language()["MAIN"]["FOOTER"]["TERMOFUSE"] }}</button>
                <button class="detail">{{ language()["MAIN"]["FOOTER"]["TERMOFSALE"] }}</button>
                <button class="detail">{{ language()["MAIN"]["FOOTER"]["PRIVACYPOLICY"] }}</button>
            </div>
        </div>
    </div> 
</footer>