
.product {
    position: relative;
    width: 230px;
    height: 230px;
    overflow: hidden;
    margin: 10px;
}

.product .image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.product .image .imgcontent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.product .image .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 0.7);
}

.product .image .loading .loadingSquare {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.product .info {
    position: absolute;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    width: 100%;
    height: 30%;
}

.product .info .name {
    position: absolute;
    color: white;
    width: 90%;
    font-weight: 900;
    font-family: SegoeUI;
    font-size: medium;
    text-shadow: 1px 1px 1px black;
    top: 5px;
    left: 5%;
    overflow: hidden;
    white-space: nowrap;
}

.product .info .price {
    position: absolute;
    color: white;
    width: auto;
    font-weight: bold;
    font-family: SegoeUI;
    font-size: small;
    top: 45px;
    left: 10px;
}

.product .info .price .discount .line {
    width: 80%;
    border-bottom: 2px solid white;
    -webkit-transform:
        translateY(7px)
        translateX(-2px)
        rotate(-10deg); 
    position: absolute;
}

.product .info .price .discount {
    position: absolute;
    font-size: x-small;
    top: -18px;
    padding-left: 8px;
    padding-right: 8px;
}

.product .info .price .value {
    position: relative;
    width: 40px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: red;
}

.product .info .price .currency {
    position: relative;
    width: 40px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba($color: #000000, $alpha: 0.8);
}

.product .info .addcart {
    position: absolute;
    color: white;
    width: 90px;
    height: 35px;
    font-weight: bold;
    font-family: SegoeUI;
    font-size: small;
    text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.5);
    bottom: 0;
    right: 0;
    opacity: 100%;
    background-color: rgba($color: black, $alpha: 0.8);
}

.product .info .addcart:hover {
    background-color: rgba($color: red, $alpha: 0.8);
}

.product .info .addcart:active {
    background-color: rgba($color: black, $alpha: 1.0);
    opacity: 90%;
}

.product .info .addcart .msg {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 8px;
}

.product .new {
    position: absolute;
    color: red;
    font-family: 'aakar';
    font-size: x-small;
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 2px;
    background-color: rgba($color: white, $alpha: 0.5);
    text-shadow: 1.2px 1.2px 0.5px rgba($color: #4f77e5, $alpha: 1.0);
    z-index: 100;
}

.product .new:hover {
    background-color: rgba($color: black, $alpha: 0.5);
    outline: 0.5px solid rgba($color: #000000, $alpha: 0.05);
}