<div class="noselect">
    <div class="product">
        <div [ngClass]=" new && load ? 'new' : 'hide'">{{ language()["PRODUCT"]["NEW"] }}</div>
        <div class="image">
            <img src="{{ image }}" [ngClass]=" load ? 'imgcontent' : 'hide'" (mouseenter)="setImage()" (mouseleave)="resetImage()">
            <div [ngClass]=" load ? 'hide' : 'loading'">
                <div class="loadingSquare">
                    <div class="loadingPoints"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
        <div [ngClass]=" load ? 'info' : 'hide'">
            <span class="name">{{ name }}</span>
            <div class="price">
                <div [ngClass]=" discount ? 'discount' : 'hide'">
                    <div class="line"></div>
                    <span>{{ getConvertedPrice(discounted) }}</span>
                </div>
                <span class="value" [ngStyle]="{'background-color': discount ? 'red' : 'black'}" >{{ getConvertedPrice(price) }}</span>
                <span class="currency" [ngStyle]="{'background-color': discount ? 'rgba(255, 0, 0, 0.6)' : 'rgba(0, 0, 0, 0.8)'}" >{{ getConvertedCurrency() }}</span>
            </div>
            <div class="addcart" (click)="getItemFunction()()">
                <span class="msg">{{ actionMsg() }}</span>
            </div>
        </div>
    </div>
</div>