
.screen {
    position: relative;
    width: 100%;
}

.screen .title {
    position: absolute;
    top: 20px;
}

.screen .title .name {
    position: relative;
    background-color: transparent;
    width: 80%;
    font-size: x-large;
}

.screen .title .new {
    position: relative;
    background-color: rgba($color: red, $alpha: 0.7);
    margin-left: 10px;
    padding: 5px;
    font-size: medium;
    font-weight: 700;
    color: rgba($color: #000000, $alpha: 0.8);
}

.screen .middle {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    top: 80px;
}

.screen .middle .product {
    position: relative;
    overflow: hidden;
}

.screen .middle .product .box {
    position: absolute;
    width: 95%;
    height: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border: 0.5px solid rgba($color: black, $alpha: 0.5);
}

.screen .middle .product .description {
    position: relative;
    background-color: white;
    width: 80%;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    text-align: center;
    border: 2px solid rgba($color: beige, $alpha: 1.0);
    padding: 5px;
    max-height: 100px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 10px;
}

.screen .middle .product .description::-webkit-scrollbar {
    display: none;
}

.screen .middle .product .price {
    position: relative;
    width: 80%;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0);
    background-color: gray;
}

.screen .middle .product .price .display {
    position: absolute;
    width: fit-content;
    right: 0;
    background-color: transparent;
}

.screen .middle .product .price .display .discount {
    position: relative;
    font-size: small;
    color: gray;
    background-color: transparent;
}

.screen .middle .product .price .display .value {
    position: relative;
    margin-left: 10px;
    font-size: x-large;
}

.screen .middle .product .display .currency {
    position: relative;
    margin-left: 10px;
    font-size: large;
    font-weight: 700;
    background-color: transparent;
}

.screen .middle .product .addcart {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.8);
    width: 70%;
    height: 40px;
    left: 50%;
    bottom: 20px;
    font-size: medium;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
}

.screen .middle .product .addcart:disabled {
    background-color: rgba($color: gray, $alpha: 0.8);
}

.screen .middle .product .addcart:disabled:hover {
    background-color: rgba($color: gray, $alpha: 0.8);
}

.screen .middle .product .addcart:hover {
    background-color: rgba($color: red, $alpha: 0.7);
}

.screen .middle .product .addcart:active {
    background-color: rgba($color: red, $alpha: 1.0);
}

.screen .middle .product .addcart .msg {
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: 700;
    color: white;
    transform: translate(-50%, -50%);
}

.screen .middle .product .sizecontainer {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba($color: beige, $alpha: 0.3);
}

.screen .middle .product .sizecontainer .sizes {
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.9);
    border: none;
    margin: 5px;
    color: white;
    font-weight: 500;
    font-size: small;
    outline: none;
}

.screen .middle .product .sizecontainer .sizeselected {
    position: relative;
    background-color: rgba($color: beige, $alpha: 0.9);
    border: none;
    margin: 5px;
    color: black;
    font-weight: 500;
    font-size: small;
    outline: none;
}

.screen .middle .product .sizecontainer .sizes:hover {
    background-color: rgba($color: red, $alpha: 0.7);
}

.screen .middle .product .sizecontainer .sizes:active {
    background-color: rgba($color: red, $alpha: 0.3);
}

.screen .middle .product .sizecontainer .sizes:disabled {
    color: gray;
    opacity: 40%;
}

.screen .middle .product .sizecontainer .sizes:disabled:hover {
    background-color: rgba($color: #000000, $alpha: 0.9);
}

.screen .middle .product .quantity {
    position: absolute;
    width: 130px;
    height: 25px;
    color: white;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen .middle .product .quantity .increment {
    position: absolute;
    width: 33.3%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);;
    right: 0;
    text-align: center;
    border: none;
    outline: none;
    color: white;
}

.screen .middle .product .quantity .value {
    position: absolute;
    width: 33.3%;
    height: 100%;
    background-color: white;
    color: black;
    transform: translate(-50%, 0);
    left: 50%;
    text-align: center;
}

.screen .middle .product .quantity .decrement {
    position: absolute;
    width: 33.3%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    left: 0;
    text-align: center;
    border: none;
    outline: none;
    color: white;
}

.screen .middle .product .quantity .increment:hover {
    background-color: rgba($color: #000000, $alpha: 0.7);
}

.screen .middle .product .quantity .decrement:hover {
    background-color: rgba($color: #000000, $alpha: 0.7);
}

.screen .middle .product .quantity .increment:active {
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.screen .middle .product .quantity .decrement:active {
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.screen .middle .product .quantity .increment:disabled {
    background-color: rgba($color: gray, $alpha: 0.8);
    color: lightgray;
}

.screen .middle .product .quantity .decrement:disabled {
    background-color: rgba($color: gray, $alpha: 0.8);
    color: lightgray;
}

.screen .middle .product .colorcontainer {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba($color: beige, $alpha: 0.3);
    left: 50%;
    top: 62.5%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba($color: white, $alpha: 0.3);
}

.screen .middle .product .colorcontainer .colors {
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid gray;
    margin: 5px;
    outline: none;
}

.screen .middle .product .colorcontainer .colorselected {
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid beige;
    margin: 5px;
    outline: none;
}

.screen .middle .product .colorcontainer .colors:disabled {
    display: none;
}

.screen .middle .product .colorcontainer .colors:hover {
    opacity: 30%;
}

.screen .middle .product .colorcontainer .colors:active {
    opacity: 70%;
}

.screen .middle .imagebox {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 500px;
    max-width: 500px;
}

.screen .middle .imagebox .thumbs {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
    width: 50px;
    height: 255px;
    left: 10px;
    top: 10px;
    overflow: hidden;
}

.screen .middle .imagebox .thumbs .thumb {
    position: absolute;
    width: 100%;
    border: 2px solid white;
    margin-top: 5px;
}

.screen .middle .imagebox .imgcontent {
    position: absolute;
    height: 100%;
    transform: translate(-50%, 0);
    left: 50%;
}

.screen .middle .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 0.8);
}

.screen .middle .loading .loadingSquare {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

// @media only screen and (max-width: 600px) {
//     .screen .middle .imagebox {
//         min-width: 330px;
//         min-height: 330px;
//     }

//     .screen .middle .product .addcart {
//         font-size: small;
//     }
// }
// @media only screen and (min-width: 600px) {
//     .screen .middle .imagebox {
//         min-width: 330px;
//         min-height: 330px;
//     }

//     .screen .middle .product .addcart {
//         font-size: small;
//     }
// }
// @media only screen and (min-width: 800px) {
//     .screen .middle .imagebox {
//         min-width: 390px;
//         min-height: 390px;
//     }

//     .screen .middle .product .addcart {
//         font-size: small;
//     }
// }
// @media only screen and (min-width: 900px) {
//     .screen .middle .imagebox {
//         min-width: 420px;
//         min-height: 420px;
//     }

//     .screen .middle .product .addcart {
//         font-size: medium;
//     }
// }
// @media only screen and (min-width: 1000px) {
//     .screen .middle .imagebox {
//         min-width: 450px;
//         min-height: 450px;
//     }
// }
// @media only screen and (min-width: 1100px) {
//     .screen .middle .imagebox {
//         min-width: 480px;
//         min-height: 480px;
//     }
// }
// @media only screen and (min-width: 1200px) {
//     .screen .middle .imagebox {
//         min-width: 510px;
//         min-height: 510px;
//     }
// }