
<div class="screen">
    <div class="title">
        <span class="name">{{ getProduct().getName() }}</span>
        <span [ngClass]=" getProduct().isNew() && load ? 'new' : 'hide'">{{ language()["PRODUCT"]["NEW"] }}</span>
    </div>
    <div class="middle">
        <div class="imagebox">
            <img src="{{ image }}" class="imgcontent" (mouseenter)="setImage()" (mouseleave)="resetImage()">
            <div [ngClass]=" load ? 'thumbs' : 'hide'">
                <div *ngFor="let imge of images; let i = index">
                    <img src="{{ imge }}" class="thumb" [ngStyle]="{ 'border-color': i == imageSeen ? 'red' : 'white' }">
                </div>
            </div>
            <div [ngClass]=" load ? 'hide' : 'loading'">
                <div class="loadingSquare">
                    <div class="loadingPoints"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="box">
                <div class="description">{{ getProduct().getDescription() }}</div><br>
                <div class="price">
                    <div class="display">
                        <span [ngClass]="isDiscounted() ? 'discount' : 'hide'">{{ discounted }}</span>
                        <span class="value" [ngStyle]="{'background-color': discount ? 'transparent' : 'transparent', 'color': discount ? 'red' : 'black', 'font-weight': discount ? '550' : '300' }">{{ getProduct().getPrice() }}</span>
                        <span class="currency">{{ currency }}</span>
                    </div>
                </div><br>
                <div class="sizecontainer">
                    <button [ngClass]="selections['size']!=size['key'] ? 'sizes' : 'sizeselected'" [disabled]="!size['avaliable'] " *ngFor="let size of getSizeCharacteristic()" (click)="selectSize(size['key'])">{{ size['name'] }}</button>
                </div>
                <div class="noselect">
                    <div class="quantity">
                        <button class="decrement" (click)="decrementQuantity()" [disabled]="(selections['size'] == null || selections['color'] == null)">-</button>
                        <span class="value">{{ getQuantity() }}</span>
                        <button class="increment" (click)="incrementQuantity()" [disabled]="(selections['size'] == null || selections['color'] == null)">+</button>
                    </div>
                </div>
                <div class="colorcontainer">
                    <button *ngFor="let color of getColorCharacteristic()" [ngStyle]="{'background-color': color.avaliable ? color.hex : 'black'}" [ngClass]="selections['color']!=color['hex'] ? 'colors' : 'colorselected'" [disabled]="!color['avaliable']" (click)="selectColor(color['hex'])"></button>
                </div>
                <div class="noselect">
                    <button class="addcart" (click)="addToCart()" [disabled]="(selections['size'] == null || selections['color'] == null || getQuantity() == 0) && !isOnCart()">
                        <span class="msg">{{ isOnCart() ? language()["PRODUCT"]["CART"]["ON_CART"] : language()["PRODUCT"]["CART"]["ADD_TO_CART"] }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>