
.itembox {
    position: relative;
    margin: 10px;
    width: 230px;
}

.product {
    position: relative;
    width: 100%;
    height: 80px;
    overflow: hidden;
    border: none;
}

.product .image {
    position: absolute;
    width: 230px;
    height: 230px;
    transform: translate(0, -50%);
    top: 50%;
}

.product .image .imgcontent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.product .image .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 0.7);
}

.product .image .loading .loadingSquare {
    position: absolute;
    width: 20%;
    height: 20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.product .color {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 0;
    margin: 10px;
}

.product .size {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'akkar';
    right: 0;
    margin-top: 35px;
    margin-right: 10px;
}

.product .color:hover {
    opacity: 50%;
}

.product .size:hover {
    opacity: 50%;
}

.info {
    position: relative;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    width: 100%;
    height: 20px;
}

.info .name {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    color: white;
    width: 50%;
    height: 100%;
    padding-left: 5px;
    background-color: transparent;
    font-weight: 700;
    font-family: SegoeUI;
    font-size: small;
    overflow-x: hidden;
    white-space: nowrap;
}

.info .price {
    position: absolute;
    color: white;
    width: auto;
    font-weight: bold;
    font-family: SegoeUI;
    font-size: small;
    right: 0;
    width: 50%;
}

.info .price .value {
    position: absolute;
    width: 70%;
    text-align: center;
    background-color: red;
    left: 0;
    overflow-x: hidden;
}

.info .price .currency {
    position: absolute;
    width: 30%;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.8);
    right: 0;
    overflow-x: hidden;
}

.interactive {
    position: relative;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    height: 30px;
}

.interactive .quantity {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background-color: white;
}

.interactive .quantity .leftarrow {
    position: absolute;
    width: 20%;
    height: 100%;
    text-align: center;
    font-weight: 900;
    font-size: large;
    color: white;
    left: 0;
    background-color: rgba($color: black, $alpha: 0.8);;
}

.interactive .quantity .value {
    position: absolute;
    font-family: SegoeUI;
    width: 60%;
    height: 100%;
    transform: translate(-50%, 0);
    text-align: center;
    font-weight: 500;
    font-size: large;
    color: black;
    left: 50%;
    background-color: transparent;
}

.interactive .quantity .rightarrow {
    position: absolute;
    width: 20%;
    height: 100%;
    text-align: center;
    font-weight: 900;
    font-size: large;
    color: white;
    right: 0;
    background-color: rgba($color: black, $alpha: 0.8);;
}

.interactive .addcart {
    position: absolute;
    color: white;
    width: 50%;
    height: 100%;
    font-weight: bold;
    font-family: SegoeUI;
    font-size: small;
    text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.5);
    right: 0;
    background-color: rgba($color: black, $alpha: 0.8);
}

.interactive .addcart:hover {
    background-color: rgba($color: black, $alpha: 0.6);
}

.interactive .addcart:active {
    background-color: rgba($color: black, $alpha: 0.5);
}

.interactive .quantity .leftarrow:hover {
    background-color: rgba($color: black, $alpha: 0.6);
}

.interactive .quantity .leftarrow:active {
    background-color: rgba($color: black, $alpha: 0.5);
}

.interactive .quantity .rightarrow:hover {
    background-color: rgba($color: black, $alpha: 0.6);
}

.interactive .quantity .rightarrow:active {
    background-color: rgba($color: black, $alpha: 0.5);
}

.interactive .addcart .msg {
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.product .newbox {
    position: absolute;
    height: 100%;
    width: 30px;
    left: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

.product .newbox .new {
    position: absolute;
    word-break: break-word;
    background-color: transparent;
    width: 13px;
    font-size: 13px;
    line-height: 13px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    font-family: 'aakar';
    color: red;
    text-shadow: 1.2px 1.2px 0.5px rgba($color: #4f77e5, $alpha: 1.0);
    z-index: 100;
}

.product .newbox .new:hover {
    outline: 0.5px solid rgba($color: #000000, $alpha: 0.05);
}