<div class="noselect">
    <div class="itembox">
        <div class="product">
            <div class="newbox">
                <div [ngClass]=" new && load ? 'new' : 'hide'">{{ language()["PRODUCT"]["NEW"] }}</div>
            </div>
            <div class="image">
                <img src="{{ image }}" class="imgcontent" (mouseenter)="setImage()" (mouseleave)="resetImage()">
                <div [ngClass]=" load ? 'hide' : 'loading'">
                    <div class="loadingSquare">
                        <div class="loadingPoints"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>
            </div>
            <div [ngClass]="load ? 'color' : 'hide'" [ngStyle]="{'background-color': getColor()}"></div>
            <div [ngClass]="load ? 'size' : 'hide'">{{ getSize() }}</div>
        </div>
        <div [ngClass]=" load ? 'info' : 'hide'">
            <span class="name">{{ name }}</span>
            <div class="price">
                <span class="value" [ngStyle]="{'background-color': discount ? 'red' : 'black'}" >{{ getConvertedPrice(price) }}</span>
                <span class="currency" [ngStyle]="{'background-color': discount ? 'rgba(255, 0, 0, 0.6)' : 'rgba(0, 0, 0, 0.8)'}" >{{ getConvertedCurrency() }}</span>
            </div>
        </div>
        <div [ngClass]=" load ? 'interactive' : 'hide'">
            <div class="quantity">
                <div class="leftarrow" (click)="decrementQuantity()">-</div>
                <span class="value">{{ getQuantity() }}</span>
                <div class="rightarrow" (click)="incrementQuantity()">+</div>
            </div>
            <div class="addcart" (click)="getItemFunction()()">
                <span class="msg">{{ actionMsg() }}</span>
            </div>
        </div>
    </div>
</div>