
<div class="back">
    <button class="backbtn" (click)="goBack()">{{ language()['ADMIN']['MODULE']['BACK'] }}</button>
    <div class="container">
        <div class="info">
            <p class="name">{{ getProduct().getId() }}. {{ getProduct().getName() }}</p>
            <p class="description">{{ getProduct().getDescription() }}</p>
        </div>
        <div class="categories">
            <div class="list">
                <div *ngFor="let categ of getProductCategories()" class="category">
                    <span class="name">{{ categ.getName() }}</span>
                </div>
            </div>
            <div class="edit">
                <form [formGroup]="getFormGroup()">
                    <select formControlName="category" class="category">
                        <option *ngFor="let category of getCategories()" [value]="category.getId()">
                            {{ category.getId() }}. {{ category.getName()}}
                        </option>
                    </select>
                    <button type="button" class="btn" (click)="assignCategory()" [disabled]="inCategory(getFormGroup().get('category').value) || getFormGroup().get('category').value == ''">
                        {{ language()["ADMIN"]["DETAIL"]["ASSIGN"] }}
                    </button>
                    <button type="button" class="btn" (click)="unassingCategory()" [disabled]="!inCategory(getFormGroup().get('category').value) || getFormGroup().get('category').value == ''">
                        {{ language()["ADMIN"]["DETAIL"]["UNASSIGN"] }}
                    </button>
                </form>
            </div>
        </div>
        <div class="characteristics">
            <form [formGroup]="getFormUpdateGroup()">
                <div class="options">
                    <select formControlName="size" (change)="resetQnt()">
                        <option value="" selected disabled>{{ language()["ADMIN"]["DETAIL"]["CHARACT"]["SIZE"] }}</option>
                        <option *ngFor="let sz of getSizeContent()" [value]="sz['key']">
                            {{ sz["name"] }}
                        </option>
                    </select>
                    <select formControlName="color" (change)="resetQnt()">
                        <option value="" selected disabled>{{ language()["ADMIN"]["DETAIL"]["CHARACT"]["COLOR"] }}</option>
                        <option *ngFor="let cl of getColorContent()" [value]="cl">
                            {{ cl }}
                        </option>
                    </select>
                </div>
                <div class="fields">
                    <input type="text" formControlName="colorQnt" placeholder="{{getColorQntPlaceholder()}}" (change)="updatePropertyColorCharact()">
                    <input type="text" formControlName="colorNew" placeholder="#hex">
                </div>
                <button type="button" class="addcolor" (click)="addColorCharact()" [disabled]="!(getFormUpdateGroup().get('size').valid && getFormUpdateGroup().get('colorNew').valid)">
                    {{ language()["ADMIN"]["DETAIL"]["CHARACT"]["NEW_COLOR"] }}
                </button>
                <button type="button" class="update" (click)="updateCharacteristics()" [disabled]="!getCharactUpdated()">
                    {{ language()["ADMIN"]["DETAIL"]["CHARACT"]["UPDATE"] }}
                </button>
            </form>
        </div>
        <div class="medias">
            <div class="list" #target>
                <div *ngFor="let media of getMedias()" class="media">
                    <img src="{{ media['image'] }}" class="image">
                    <div class="delete" (click)="deleteMedia(media['detail']['name'].split('.')[0])"></div>
                </div>
            </div>
            <button class="more" (click)="scroll(target)">+</button>
            <div class="edit">
                <input type="file" class="file" accept="image/*" #imageInput (change)="saveImage(imageInput)">
                <button type="button" class="submit" (click)="submitMedia()" [disabled]="getImageUploaded() == null">{{ language()["ADMIN"]["DETAIL"]["ADD_MEDIA"] }}</button>
            </div>
        </div>
    </div>
    
</div>