
.back {
    position: absolute;
    width: 100%;
    height: 95%;
    transform: translate(0, -50%);
    top: 50%;
    overflow: hidden;
}

.back .backbtn {
    position: absolute;
    width: 50%;
    transform: translate(-50%, 0);
    left: 50%;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    outline: none;
}

.back .backbtn:hover {
    background-color: lightgray;
    color: rgba($color: #000000, $alpha: 0.8);
}

.back .backbtn:active {
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
}

.back .container {
    position: absolute;
    width: 100%;
    height: 95%;
    top: 50px;
    overflow: hidden;
}

.back .container .info {
    position: absolute;
    top: 50px;
    left: 10%;
}

.back .container .info .name {
    position: absolute;
    width: 500px;
    text-align: center;
    border: 0.5px solid lightgray;
}

.back .container .info .description {
    position: absolute;
    top: 30px;
    width: 500px;
    height: 120px;
    text-align: center;
    border: 0.5px solid lightgray;
    overflow-y: scroll;
    overflow-wrap: break-word;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 10px;
}

.back .container .info .description::-webkit-scrollbar {
    display: none;
}

.back .container .categories .list {
    position: absolute;
    left: 10%;
    top: 210px;
    max-width: 500px;
    height: 50px;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.back .container .categories .list::-webkit-scrollbar {
    display: none;
}

.back .container .categories .list .category {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 20px;
    background-color: lightgray;
    text-align: center;
    font-size: 10px;
    border-radius: 15px;
    margin-left: 10px;
}

.back .container .categories .edit {
    position: absolute;
    left: 10%;
    top: 270px;
}

.back .container .categories .edit .category {
    position: relative;
    width: 300px;
}

.back .container .categories .edit .btn {
    position: relative;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 15px;
}

.back .container .categories .edit .btn:hover {
    background-color: lightgray;
    color: rgba($color: #000000, $alpha: 0.8);
}

.back .container .categories .edit .btn:active {
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
}

.back .container .categories .edit .btn:disabled {
    background-color: rgba($color: gray, $alpha: 0.8);
    color: lightgray;
}

.back .container .characteristics {
    position: absolute;
    top: 320px;
    left: 10%;
    width: 500px;
}

.back .container .characteristics .options {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    font-size: 15px;
}

.back .container .characteristics .fields {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    font-size: 15px;
    top: 35px;
}

.back .container .characteristics .addcolor {
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    height: 30px;
    font-size: 15px;
    top: 78px;
}

.back .container .characteristics .update {
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    height: 30px;
    font-size: 15px;
    top: 110px;
}

.back .container .characteristics .addcolor:hover {
    background-color: lightgray;
    color: rgba($color: #000000, $alpha: 0.8);
}

.back .container .characteristics .update:hover {
    background-color: lightgray;
    color: rgba($color: #000000, $alpha: 0.8);
}

.back .container .characteristics .addcolor:active {
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
}

.back .container .characteristics .update:active {
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
}

.back .container .characteristics .addcolor:disabled {
    background-color: rgba($color: gray, $alpha: 0.8);
    color: lightgray;
}

.back .container .characteristics .update:disabled {
    background-color: rgba($color: gray, $alpha: 0.8);
    color: lightgray;
}

.back .container .medias {
    position: absolute;
    left: 650px;
    top: 50px;
}

.back .container .medias .list {
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
    height: 200px;
    overflow: hidden;
}

.back .container .medias .more {
    position: absolute;
    left: 0;
    top: 210px;
    width: 200px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}

.back .container .medias .more:hover {
    background-color: lightgray;
    color: rgba($color: #000000, $alpha: 0.8);
}

.back .container .medias .edit {
    position: absolute;
    width: 200px;
    height: 70px;
    top: 250px;
}

.back .container .medias .edit .file {
    position: absolute;
    top: 0;
    width: 200px;
    height: 35px;
    font-size: 15px;
    outline: none;
    border: none;
    color: black;
}

.back .container .medias .edit .submit {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 35px;
    font-size: 15px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
}

.back .container .medias .edit .submit:hover {
    background-color: lightgray;
    color: rgba($color: #000000, $alpha: 0.8);
}

.back .container .medias .edit .submit:active {
    background-color: lightgray;
    color: rgba($color: #000000, $alpha: 0.8);
}

.back .container .medias .edit .submit:disabled {
    background-color: rgba($color: gray, $alpha: 0.8);
    color: lightgray;
}

.back .container .medias .media {
    position: relative;
    width: 200px;
    height: 200px;
}

.back .container .medias .media .image {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.back .container .medias .media .delete {
    position: absolute;
    background-color: rgba($color: red, $alpha: 0.7);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 170px;
    left: 170px;
    transform: translate(-50%, -50%);
}

.back .container .medias .media .delete:hover {
    background-color: rgba($color: black, $alpha: 0.7);
}

.back .container .medias .media .delete:active {
    background-color: rgba($color: white, $alpha: 0.7);
}


// @media only screen and (min-width: 750px) {
//     .back .container .medias {
//         grid-template-columns: repeat(3, 1fr);
//     }
// }

// @media only screen and (min-width: 900px) {
//     .back .container .medias {
//         grid-template-columns: repeat(4, 1fr);
//     }
// }

// @media only screen and (min-width: 1050px) {
//     .medias {
//         grid-template-columns: repeat(5, 1fr);
//     }
// }

// @media only screen and (min-width: 1300px) {
//     .back .container .medias {
//         grid-template-columns: repeat(6, 1fr);
//     }
// }

// @media only screen and (min-width: 1450px) {
//     .back .container .medias {
//         grid-template-columns: repeat(7, 1fr);
//     }
// }

// @media only screen and (min-width: 1750px) {
//     .medias {
//         grid-template-columns: repeat(8, 1fr);
//     }
// }

// @media only screen and (min-width: 1950px) {
//     .medias {
//         grid-template-columns: repeat(9, 1fr);
//     }
// }